{% extends "base2_homepage.html" %}
{% block content %}

<!-- https://source.unsplash.com/720x600/?paper,pen -->
<!-- https://source.unsplash.com/1080x720/?job,work,happy -->
<!-- https://www.flaticon.com/ -->

<!-- main body -->
<br><br>
<!-- <center>
<div class="container d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='style/img/generate_qr_code.png' ) }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Generate QR ID</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, assumenda.</p>
                    <a href="/generate_id" class="btn btn-primary">Visit me</a>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='style/img/scan_qr_code.png' ) }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Scan QR ID</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, voluptates</p>
                    <a href="/scan_id" class="btn btn-primary">Visit me</a>
                </div>
            </div>
        </div>
    </div>
</div>
</center> -->

<div class="container">
    <div class="row">
        <div class="col">
            <div id="image">
            {% if flag %}
                <img src="{{ photo_path }}" class="z-depth-2 img-fluid rounded" alt="placeholder" height="280px" width="480px">
            {% else %}
                <img src="{{url_for('static', filename='style/img/placeholder.jpg')}}" class="z-depth-2 img-fluid rounded" alt="placeholder">
            {% endif %}
            </div>
            <h2 class="mt-4">Select an image to upload</h2>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <form action="/predict_by_image" class="md-form" method="POST" enctype="multipart/form-data">
                            <div class="file-field medium btn-group" role="group">
                                <label for="imageInput">
                                    <img id="fileIcon" src="{{url_for('static', filename='style/img/link.png')}}"
                                        alt="File Icon" class="rounded-circle border border-primary" height="50"
                                        width="50">
                                    <input type="file" name="image" accept="image/*" id="imageInput" required>
                                </label>
                            </div>
                            <div class="mt-4">
                                <button id="upload-file-btn" class="btn btn-success btn-lg btn-rounded" type="submit">
                                    <img src="{{url_for('static', filename='style/img/upload-file.png')}}"
                                        alt="Button Image" height="20" width="20">
                                    Upload
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-6">
                        <a class="btn" href="/home" role="button">
                            <img id="cameraIcon" src="{{url_for('static', filename='style/img/camera.png')}}"
                                alt="File Icon" class="rounded-circle border border-primary" height="50" width="50">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <!-- <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 text-center">
                <div id="chart">Hello</div> -->
                {% if flag %}
                <!-- Display the encoded image as an inline base64 image -->
                <img src="data:image/png;base64,{{ plot_data }}" alt="Prediction Bar Chart" height="50%" width="100%">
                <h2 class="text-center">Prediction Bar Chart</h2>               
                <p class="text-center"><i>{{ mytext }}</i></p>
                {% endif %}
            <!-- </div> -->
        </div>
    </div>
</div>




{% endblock %}